<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Parkings API</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>
<body>
	 <div id="mapid"></div>
	 <script>
	 	var mymap = L.map('mapid').setView([44.85, -0.6], 14);
		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWF0cjA5NSIsImEiOiJja254YjBwdGsxNHZuMnZrdGlyanI3cDkxIn0.owalTKIJ_ZXfIn7qvlsrwg', {
		    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		    maxZoom: 18,
		    id: 'mapbox/streets-v11',
		    tileSize: 512,
		    zoomOffset: -1,
		    accessToken: 'your.mapbox.access.token'
		}).addTo(mymap);
	    {% for bordeauxPark in bordeauxParks %}
        	var Nom = '{{bordeauxPark[0]}}';
        	var Xlat = parseFloat('{{bordeauxPark[1]}}');
        	var Ylng = parseFloat('{{bordeauxPark[2]}}');
			var circle = L.circle([Xlat, Ylng], {
			    color: 'black',
			    fillColor: 'blue',
			    fillOpacity: 0.8,
			    radius: 75
			}).addTo(mymap);
			circle.bindPopup(Nom);
	    {% endfor %}
		</script>
</body>
</html>