<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Carte des Parkings</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="left">
    <!--The div element for the map -->
    <div id="map"></div>
  </div>
  <div id="right">
    <h1>Administration</h1>
  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyA-J5GesLk15W0LNbQDbix4ZRlGVVvAQbg&callback=initMap&libraries=&v=weekly"
      
    >
    </script>
    <script src="gmaps.js"></script>
</body>
</html>